@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ARTICULATCF-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Saytda nə varsa hamısını bu fonta məcbur edirik */
* {
  font-family: 'Articulat CF', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, a, div {
  font-family: 'Articulat CF', sans-serif !important;
}